<%= render "shared/errors", obj: @item %>

<table class="attr">
  <tr>
    <th width="200"><%= form.label :name %></th>
    <td><%= form.text_field :name, size: 60 %></td>
  </tr>
  <tr>
    <th><%= form.label :amount %></th>
    <td><%= form.select :amount, [['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]] %></td>
  </tr>
  <tr>
    <th><%= form.label :minimum %></th>
    <td><%= form.select :minimum, [['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]] %></td>
  </tr>
  <tr>
    <th width="200"><%= form.label "カテゴリー選択" %></th>
    <td><%= form.select :category, [['食品系', '食品系'], ['飲み物系', '飲み物系'], ['ティッシュ系', 'ティッシュ系'], ['医薬系', '医薬系'], ['洗剤系', '洗剤系'], ['掃除系', '掃除系'], ['文房具系', '文房具系'], ['本系', '本系'], ['美容系', '美容系'], ['その他', 'その他']] %></td>
  </tr>
  <tr>
    <th><%= form.label :remarks %></th>
    <td><%= form.text_area :remarks, rows: 3, cols: 60 %></td>
  </tr>


</table>